.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.471);
}

.cartModal {
  position: absolute;
  width: 25%;
  height: fit-content;
  z-index: 100;
  background-color: white;
  padding: 2em;
  right: 15%;
  top: 100px;

  &__titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &__title {
      @include apply-font-styles("h5");
      font-weight: $font-weight-bold;
    }
  }

  & > .moneyPaid {
    margin: 25px auto;
  }

  & > .btn {
    width: 100%;
  }
}
