.textInptDiv {
  width: -moz-fit-content;
  width: fit-content;
}
.textInptDiv__labelDiv {
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
}
.textInptDiv__labelDiv__label {
  font-size: 12px;
  font-weight: 700;
}
.textInptDiv__labelDiv__error {
  font-size: 12px;
  font-weight: 700;
  color: red;
}
.textInptDiv__inpt {
  padding: 1em 1.5em;
  border-radius: 7.5px;
  border: 2px solid #f1f1f1;
  font-weight: 700;
  width: 100%;
}
.textInptDiv__inpt:focus {
  outline: none;
  border: 2px solid #fbaf85;
  font-weight: 700;
  caret-color: #fbaf85;
}
.textInptDiv__inpt:focus::-moz-placeholder {
  font-size: 0;
}
.textInptDiv__inpt:focus::placeholder {
  font-size: 0;
}
.textInptDiv__inpt::-moz-placeholder {
  font-size: 12px;
}
.textInptDiv__inpt::placeholder {
  font-size: 12px;
}
.textInptDiv__inpt-error {
  padding: 1em 1.5em;
  border-radius: 7.5px;
  border: 2px solid red;
}
.textInptDiv__inpt-error:focus {
  outline: none;
}
.textInptDiv__inpt-error:focus::-moz-placeholder {
  font-size: 0;
}
.textInptDiv__inpt-error:focus::placeholder {
  font-size: 0;
}
.textInptDiv__inpt-error::-moz-placeholder {
  font-size: 12px;
}
.textInptDiv__inpt-error::placeholder {
  font-size: 12px;
}