.homePage {
  &__header {
    background-image: url("./Assets/home/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    // padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__container {
      // border: 2px solid green;
      width: 70%;

      & > .productDiv {
        // border: 2px solid red;
        color: white;
        width: 50%;

        .productDiv__contentDiv {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .homePage {
    &__header {
      background-image: url("./Assets/home/tablet/image-header.jpg");
      background-size: cover;
      height: 70vh;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        // border: 1px solid green;

        & > .productDiv {
          // border: 1px solid red;
          width: 100%;
          @include apply-center();
          text-align: center;
          height: 70%;

          .productDiv__contentDiv {
            @include apply-center();
            text-align: center;
            width: 100%;
            height: 100%;
            justify-content: space-between;

            &__btnsDiv {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .homePage {
    &__header {
      height: 100vh;
      justify-content: center;
      align-items: unset;
      &__container {
        width: 100%;
        // border: 2px solid yellow;
        & > .productDiv {
          // border: 1px solid red;
          margin-top: 25vh;
          height: 70%;

          .productDiv__contentDiv {
            // border: 1px solid green;

            &__title {
              @include apply-font-styles("h3");
            }

            &__btnsDiv {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
